.product-page > .wrapper {
  max-width: 85rem;
  margin: var(--spacing-2xl) auto;
  padding-inline: var(--spacing-xl);
  display: grid;
  gap: var(--gap-2xl);
  position: relative;
}

.product-page .wrapper > .container {
  width: 100%;
  grid-template-columns: 2fr 1fr;
  place-items: center;
}

.product-page .more-images img {
  background-color: var(--cl-secondary-50);
  width: 10rem;
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: var(--border-radius);
  padding: var(--spacing-md);
  border: var(--border-width-sm) solid var(--cl-dark-100);
}

.product-page .main-image {
  background-color: var(--cl-secondary-50);
  border-radius: var(--border-radius);
  padding: var(--spacing-md);
  border: var(--border-width-sm) solid var(--cl-dark-100);
  width: 100%;
  display: grid;
  place-items: center;
}
.product-page .main-image img {
  width: 35rem;
  aspect-ratio: 1;
  object-fit: contain;
}

.product-page .burger-info {
  margin-block: var(--spacing-md);
}

.product-page .burger-info .price span {
  color: var(--cl-neutral-300);
  text-decoration: line-through;
}

.product-page .burger-info #quantity-input {
  padding: var(--spacing-md);
  border: none;
  outline: var(--border-width-sm) solid var(--cl-dark-100);
  width: 8rem;
  background-color: var(--cl-secondary-50);
}

.product-page .burger-info .add-to-cart-btn {
  border: none;
  transition: var(--transition-fast);
}

.product-page .burger-info .nutritional-info li {
  list-style-position: inside;
}

.burger-gallery {
  place-items: center;
  background-color: #0707078f;
  backdrop-filter: blur(50px);
  width: 100%;
  height: 100vh;
  min-height: 100dvh;
  position: absolute;
  top: 0;
  z-index: 999;
  padding: var(--spacing-lg);
}

.burger-gallery .close-button {
  position: absolute;
  top: 2rem;
  right: 10rem;
  font-size: var(--fs-2xl);
  color: var(--cl-secondary-600);
  border: none;
  background-color: transparent;
  z-index: 9999;
}

.burger-gallery .galleryTop {
  width: 28rem;
  aspect-ratio: 1;
  object-fit: contain;
  cursor: grab;
}

.burger-gallery .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-gallery .galleryThumbs {
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
}

.burger-gallery .galleryThumbs .swiper-slide img {
  width: 10rem;
  aspect-ratio: 1;
  object-fit: contain;
  opacity: 0.4;
  border: var(--border-width-sm) solid var(--cl-dark-100);
  border-radius: var(--border-radius);
  background-color: var(--cl-secondary-50);
}

.burger-gallery .galleryThumbs .swiper-slide-thumb-active img {
  opacity: 1;
}

/* hovering styles */

.product-page .burger-info .add-to-cart-btn:hover {
  background-color: var(--cl-primary-100);
  color: var(--cl-neutral-600);
  outline: var(--border-width-sm) solid var(--cl-dark-100);
}

/* media queries */
@media (max-width: 1150px) {
  .product-page .wrapper > .container {
    grid-template-columns: initial;
    grid-auto-flow: row;
    place-items: center;
  }

  .product-page .burger-info .description {
    max-width: 75ch;
    width: 100%;
  }

  .burger-gallery .close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: var(--fs-2xl);
    color: var(--cl-secondary-600);
  }
}

@media (max-width: 788px) {
  .product-page .burger-image {
    flex-wrap: wrap;
  }
  .product-page .burger-image .more-images {
    order: 2;
    grid-auto-flow: column;
  }
}

@media (max-width: 600px) {
  .product-page .wrapper {
    margin-block: var(--spacing-md);
    gap: var(--gap-md);
  }
  .product-page .burger-info .description {
    text-wrap: wrap;
  }
}
