@import url(./utils-variables.css);

/* === hero section === */
.hero-section {
  max-width: 75rem; /* 1200px */
  height: inherit;
  margin: 0 auto;
  padding-inline: var(--spacing-lg);
}

/* === hero body === */
.hero-section .hero-body {
  margin: var(--spacing-lg) 0;
  display: grid;
  gap: 7rem;
}

.hero-section .hero-description > .heading {
  width: 10ch;
}

.hero-section .hero-description > .sub-heading {
  border-radius: 30px;
  padding: var(--spacing-sm) 0.875em;
  width: fit-content;
  text-transform: uppercase;
}

.hero-section .hero-description .hero-des-btn {
  border-radius: var(--border-radius);
  background-color: var(--cl-primary-100);
  width: fit-content;
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
  padding: var(--spacing-md);
  color: var(--cl-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--fs-sm);
  cursor: var(--cursor-pointer);
  transition: var(--transition-fast);
  text-decoration: none;
}

.hero-section .hero-description .shop-btn {
  border-radius: var(--border-radius);
  background-color: var(--cl-primary);
  color: var(--cl-light);
}

.hero-section .hero-body .hero-image img {
  width: 30rem;
}

/* hero burger cards */
.hero-section .hero-body .burger-cards {
  gap: calc(var(--gap-2xl) * 2);
}

.hero-section .hero-body .card {
  background-color: var(--cl-primary-70);
  width: fit-content;
  border-radius: calc(var(--border-radius) * 2);
  font-size: var(--fs-md);
  font-weight: var(--font-weight-semibold);
  text-align: center;
  transition: var(--transition-base);
  position: var(--position-relative);
}

.hero-section .hero-body .card a {
  cursor: grab;
  display: grid;
  place-items: center;
  gap: var(--gap-sm);
  width: inherit;
  padding: var(--spacing-lg);
}

.hero-section .card .card-img img {
  position: absolute;
  transition: var(--transition-base);
  top: -5.25rem;
}
.hero-section .first-card img {
  left: 3.25rem;
  width: 100px;
}
.hero-section .second-card img {
  left: 3rem;
  width: 120px;
}
.hero-section .third-card img {
  left: 2.5rem;
  width: 120px;
}
.hero-section .forth-card img {
  left: 2.25rem;
  width: 130px;
}

.hero-section .hero-body .card .card-title {
  color: var(--cl-neutral-600);
  line-height: var(--line-height-tight);
}

.hero-section .hero-body .card .card-info {
  display: flex;
  align-items: center;
  gap: var(--gap-md);
  color: var(--cl-neutral-600);
}

.hero-section .hero-body .card .reviews i {
  color: var(--cl-warning);
}

.hero-section .hero-body .card .price {
  color: var(--cl-primary);
}

/* ========= main section ========= */
/* === menu section === */
.main-container {
  width: 75rem; /* 1200px */
  margin: calc(var(--spacing-3xl) * 2) auto;
  padding-inline: var(--spacing-lg);
}

.main-container .menu-section .section-heading {
  gap: calc(var(--gap-sm) / 2);
}

.main-container .menu-section .card .card-img::after {
  content: "";
  width: calc(100% - 20%);
  height: 2rem;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.447);
  filter: blur(12px);
  position: absolute;
  z-index: -1;
}

.main-container .menu-section .first-card .card-img::after {
  bottom: 0.875rem;
  left: 1.25rem;
}
.main-container .menu-section .second-card .card-img::after {
  bottom: -0.25rem;
  left: 1.25rem;
}
.main-container .menu-section .third-card .card-img::after {
  bottom: 0.5rem;
  left: 1rem;
}
.main-container .menu-section .fourth-card .card-img::after {
  bottom: 1.5rem;
  left: 1.5rem;
}
.main-container .menu-section .fifth-card .card-img::after {
  bottom: 1.25rem;
  left: 1.25rem;
}

.main-container .menu-section .card img {
  width: 16rem;
  aspect-ratio: 2 / 2;
  object-fit: contain;
  transition: var(--transition-base);
}

.main-container .menu-section .description {
  width: 25ch; /* Adjust width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: balance;
  text-align: center;
}

.main-container .menu-section .card .reviews i {
  color: var(--cl-warning);
}

.main-container .menu-section .card .cart a {
  padding: var(--spacing-sm) var(--spacing-md);
}

/* slider-controls */
.main-container .menu-section .button-next {
  position: absolute;
  right: 0;
  top: 60%;
  z-index: var(--z-index-99);
  font-size: var(--fs-3xl);
  color: var(--cl-primary-300);
  cursor: var(--cursor-pointer);
}

.main-container .menu-section .button-prev {
  position: absolute;
  left: 0;
  top: 60%;
  z-index: var(--z-index-99);
  font-size: var(--fs-3xl);
  color: var(--cl-primary-300);
  cursor: var(--cursor-pointer);
}

/* === features section === */
.main-container .features-section {
  margin-block: 10rem;
}

.main-container .features-section .features-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-md);
}

.main-container .features-section .features {
  display: grid;
  gap: var(--gap-md);
  width: 100%;
}

.main-container .features-container .image > img {
  width: 60rem;
  filter: contrast(1.1);
}
.main-container .features-container .image-wrapper {
  position: absolute;
  inset: 0;
}
.main-container .features-container .image-wrapper img {
  width: 14rem;
  position: absolute;
}
.main-container .features-container .image-wrapper .delicious {
  bottom: -1rem;
  left: -4rem;
}
.main-container .features-container .image-wrapper .fresh {
  top: -2rem;
}
.main-container .features-container .image-wrapper .tasty {
  top: 6rem;
  right: -6rem;
}

/* === testimonials section === */
.main-container .testimonials-section {
  padding-block-end: 10rem;
}

.main-container .testimonials-section .testimonials-container {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
  margin-top: var(--spacing-3xl);
  cursor: grab;
}

.main-container .testimonials-section .testimonial {
  display: grid;
  place-items: start center;
  gap: var(--gap-md);
  border: 1px solid var(--border-cl-primary);
  padding: var(--spacing-lg);
  height: 30rem;
}

.main-container .testimonial img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border: 1px solid var(--cl-neutral);
  border-radius: 50%;
}

.main-container .testimonial .rating {
  display: flex;
  align-items: center;
  gap: calc(var(--gap-sm) / 2);
  color: var(--cl-dark);
}

.main-container .testimonial .description {
  display: grid;
  place-items: center;
  gap: var(--gap-md);
  text-align: center;
}

.main-container .testimonial .testimonial-title {
  font-weight: var(--font-weight-semibold);
  font-size: var(--fs-lg);
  color: var(--cl-dark);
}

.main-container .testimonial .description p {
  font-weight: var(--font-weight-normal);
  font-size: var(--fs-md);
  color: var(--cl-dark);
  font-style: italic;
}

.main-container .testimonial .client-name {
  font-size: var(--fs-md);
  font-weight: var(--font-weight-normal);
}

/* === Blog section === */

.main-container .blog-section .blog img {
  width: 100%;
  aspect-ratio: 1.5 / 1;
  object-fit: cover;
}

.main-container .blog-section .blog i {
  transform: rotate(45deg);
}

/* animation */
@keyframes scale {
  to {
    transform: scale(1.05);
  }
}

/* ====== media queries =======*/
@media (max-width: 1344px) {
  /* === main === */
  .main-container {
    width: 100%;
    padding-inline: var(--spacing-lg);
  }
  /* features */
  .main-container .features-container .image-wrapper .tasty {
    display: none;
  }
}

@media (max-width: 1050px) {
  /* === hero === */
  .hero-section .hero-body .burger-cards {
    gap: calc(var(--gap-md));
  }
}

@media (max-width: 940px) {
  /* features */
  .main-container .features-section .features-container {
    flex-direction: column;
  }
  .main-container .features-section .features {
    display: grid;
    gap: var(--gap-md);
    width: 100%;
  }
  .main-container .features-section .sub-heading {
    text-wrap: balance;
  }

  .main-container .features-container .image > img {
    width: 36rem;
  }
  .main-container .features-container .image-wrapper {
    display: none;
  }
}
@media (max-width: 810px) {
  /* === hero === */
  .hero-section .hero-body .hero-contents {
    flex-direction: column;
    gap: var(--gap-2xl);
  }
  .hero-section .hero-contents .hero-description {
    place-items: center;
    text-align: center;
  }
  .hero-section .hero-description > .sub-heading {
    margin-bottom: var(--spacing-lg);
  }
  .hero-section .hero-contents .heading {
    width: initial;
    line-height: 0.8;
  }
  .hero-section .hero-contents .hero-description p {
    display: block;
    font-size: clamp(var(--fs-sm), 3vw, var(--fs-md));
    text-wrap: balance;
  }
  .hero-section .hero-contents .hero-buttons {
    margin-block-start: var(--spacing-md);
  }
  .hero-section .hero-body .burger-cards {
    display: none;
  }

  /* features */
  .main-container .features-section .sub-heading {
    text-wrap: wrap;
  }
}
