@import url(./global.css);
@import url(./utils-variables.css);
@import url(./home.css);
@import url(./menu.css);
@import url(./blog.css);
@import url(./about.css);
@import url(./contact.css);
@import url(./burger-page.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  width: 100%;
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--cl-primary-50);
  color: var(--cl-dark);
  font-family: var(--primary-ff);
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 20ex;
  background-color: rgba(206, 159, 73, 0.098);
  margin-left: var(--spacing-sm);
  transition: var(--transition-fast);
}
